@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.brand {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    text-shadow: 0px 0px 10px #0000003b;
    font-weight: bold;
    text-decoration: none;
}
.brand-bg {
    background:  linear-gradient(45deg, rgba(255, 0, 0, 0.409),rgba(0, 0, 255, 0.709)) , url('https://images.unsplash.com/photo-1623615815263-ae43fa7fbdd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}
.min-vh-100 {
    min-height: 100vh!important;
}
.login-bg {
    background:  url('https://images.unsplash.com/photo-1591254693052-e33265b2ab45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80');
}
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media (min-width: 992px) {
    .vw-lg-50 {
        width: 50vw!important;
    }
}